
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AI BetterBet</title>
</head>
<body>
       <h1>This is brand new betting app</h1>
</body>
</html>
